body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

/* Navbar Section Design */

.navbar-container {
  width: 1280px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-size: 32px;
  font-weight: bold;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
}

.navbar-btn {
  width: 116px;
  height: 52px;
  border: 1px solid #006a50;
  border-radius: 5px;
  color: #006a50;
  font-size: 18px;
  font-weight: 700;
}

.navbar-btn:hover {
  cursor: pointer;
  background-color: #006a50;
  color: #ffffff;
  border: none;
  transition: background-color 0.3s ease;
}

/* Banner Section Design */
.banner-container {
  width: 1280px;
  height: 560px;
  margin: auto;
  background-color: #c6e4d6;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  margin-bottom: 80px;
}

.banner-subtitle {
  color: #0e0e0e;
  font-size: 24px;
  font-weight: 500;
  font-family: "Fira Sans", serif;
  opacity: 50%;
  margin: 0;
}

.banner-title {
  color: #0e0e0e;
  font-size: 56px;
  font-weight: bold;
  font-family: "Fira Sans", serif;
}

.explore-btn {
  width: 270px;
  height: 65px;
  background-color: #006a50;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "Fira Sans", serif;
}

.explore-btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #006a50;
  border: 1px solid #006a50;
  transition: background-color 0.3s ease;
}

/* Pillars Section Design */

.pillars-container {
  width: 1280px;
  height: auto;
  margin: auto;
  margin-bottom: 80px;
}

.pillars-title {
  font-size: 40px;
  font-weight: bold;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
}

.pillars-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.pillars-card {
  width: 302px;
  height: 244px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 24px;
}

.pillars-card-title {
  font-size: 20px;
  font-weight: bold;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
}

.pillars-card-description {
  font-size: 16px;
  font-weight: 400;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
}

/* The vision of future section design */

.the-vision-of-future-container {
  width: 1280px;
  height: auto;
  margin: auto;
  margin-bottom: 80px;
}

.the-vision-of-future-title {
  font-size: 40px;
  font-weight: bold;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  margin-bottom: 24px;
}

.the-vision-of-future-description {
  font-size: 16px;
  font-weight: 400;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  margin-bottom: 24px;
  opacity: 70%;
}

.the-vision-of-future-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.digital-transformation-card {
  width: 410.67px;
  height: 325px;
  background-color: #d5e1f5;
  border-radius: 10px;
  padding: 24px;
}

.green-energy-card {
  width: 410.67px;
  height: 325px;
  background-color: #c6e4d6;
  border-radius: 10px;
  padding: 24px;
}

.modern-infrastructure-card {
  width: 410.67px;
  height: 325px;
  background-color: #f7ebcf;
  border-radius: 10px;
  padding: 24px;
}

.the-vision-of-future-cards-title {
  font-size: 20px;
  font-weight: bold;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
}

.the-vision-of-future-cards-description {
  font-size: 16px;
  font-weight: 400;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
}

.digital-transformation-btn {
  width: 122px;
  height: 41px;
  background-color: #5490f5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-family: "Fira Sans", serif;
  border: none;
  border-radius: 10px;
}

.digital-transformation-btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #5490f5;
  border: 1px solid #5490f5;
  transition: background-color 0.3s ease;
}

.green-energy-btn {
  width: 122px;
  height: 41px;
  background-color: #09a15c;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-family: "Fira Sans", serif;
  border: none;
  border-radius: 10px;
}

.green-energy-btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #09a15c;
  border: 1px solid #09a15c;
  transition: background-color 0.3s ease;
}

.modern-infrastructure-btn {
  width: 122px;
  height: 41px;
  background-color: #ffc239;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-family: "Fira Sans", serif;
  border: none;
  border-radius: 10px;
}

.modern-infrastructure-btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #ffc239;
  border: 1px solid #ffc239;
  transition: background-color 0.3s ease;
}

.quote-section-container {
  position: relative;
  width: 1280px;
  height: 256px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 16px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.quote-image {
  position: absolute;
}

.dr-muhammad-yunus {
  font-size: 20px;
  font-weight: 700;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  opacity: 80%;
  margin: 0;
}

.quote-section-speech {
  font-size: 16px;
  font-weight: 400;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  opacity: 80%;
}

/* Recent news section design */
.recent-news-container {
  width: 1280px;
  height: auto;
  margin: auto;
  margin-bottom: 80px;
}

.recent-news-title {
  font-size: 40px;
  font-weight: bold;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  margin-bottom: 24px;
}

.recent-news-description {
  font-size: 16px;
  font-weight: 400;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  margin-bottom: 24px;
  opacity: 70%;
}

.recent-news-card {
  background-color: #ffffff;
  width: 1280px;
  height: 402px;
  border-radius: 10px;
  padding: 48px;
  display: flex;
  align-items: start;
  gap: 32px;
  margin-bottom: 24px;
}

.satelite-img {
  width: 408px;
  height: 306px;
  border-radius: 24px;
}

.recent-news-card-title {
  font-size: 32px;
  font-weight: bold;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  opacity: 80%;
  margin: 0;
  padding-bottom: 20px;
}

.date-time {
  display: flex;
  gap: 10px;
  color: #0e0e0e;
  opacity: 70%;
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-size: 16px;
}

.recent-news-card-description {
  font-size: 16px;
  font-weight: 400;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  opacity: 70%;
  margin: 0;
  padding-bottom: 32px;
}

.recent-news-card-btn {
  background-color: #006a50;
  color: #ffffff;
  width: 139px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "Fira Sans", serif;
}

.recent-news-card-btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #006a50;
  border: 1px solid #006a50;
  transition: background-color 0.3s ease;
}

/* Donate Today section design */

.donate-today-container {
  width: 1280px;
  height: 464px;
  margin: auto;
  margin-bottom: 80px;
  padding-right: 80px;
  padding-left: 80px;
}

.donate-today-title {
  font-size: 40px;
  font-weight: bold;
  color: #0e0e0e;
  font-family: "Fira Sans", serif;
  text-align: center;
  margin-bottom: 24px;
}

.donate-today-description {
  font-size: 16px;
  font-weight: 400;
  color: #0e0e0e;
  opacity: 70%;
  font-family: "Fira Sans", serif;
  text-align: center;
  margin-bottom: 32px;
}

.money-card-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.money-card {
  background-color: #ffffff;
  width: 264px;
  height: 128px;
  border-radius: 16px;
  font-size: 40px;
  font-weight: bold;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  opacity: 80%;
  text-align: center;
  margin-bottom: 24px;
}

.money-card:hover {
  cursor: pointer;
  background-color: #c6e4d6;
  transition: background-color 0.3s ease;
}

.input-field {
  width: 100%;
  height: 64px;
  border: none;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  background-color: #ffffff;
  margin-bottom: 24px;
}

.donate-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donate-btn {
  background-color: #006a50;
  color: #ffffff;
  width: 139px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "Fira Sans", serif;
}

.donate-btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #006a50;
  border: 1px solid #006a50;
  transition: background-color 0.3s ease;
}

/* Newsletter section design */
.newsletter-container {
  width: 1280px;
  height: 395px;
  margin: auto;
  background-color: #c6e4d6;
  border-radius: 24px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 80px;
}

.newsletter-content {
  width: 750px;
  height: 235px;
  margin: auto;
}

.newsletter-title {
  font-size: 40px;
  font-weight: bold;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}

.newsletter-description {
  font-size: 16px;
  font-weight: 400;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  opacity: 70%;
  text-align: center;
  margin-bottom: 24px;
}

.subscribe-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.email-input-filed {
  width: 600px;
  height: 55px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Fira Sans", serif;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 50px;
}

.email-subscribe-btn {
  width: 150px;
  height: 55px;
  background-color: #006a50;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-family: "Fira Sans", serif;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.email-subscribe-btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #006a50;
  border: 1px solid #006a50;
  transition: background-color 0.3s ease;
}

/* Footer section design */

.footer {
  width: 100%;
  height: 226px;
  background-color: #ffffff;
  padding-top: 50px;
  border-bottom: 50px;
}

.footer-title {
  font-size: 32px;
  font-family: "Fira Sans", serif;
  font-weight: bold;
  color: #0e0e0e;
  text-align: center;
  margin-bottom: 32px;
}

.footer-devider {
  border-bottom: 1px solid #0e0e0e;
  opacity: 20%;
  width: 1122px;
  margin: auto;
  margin-bottom: 32px;
}

.social-media-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
