body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

/* Navbar Section Design */

.navbar-container {
  width: 1280px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-size: 32px;
  font-weight: bold;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
}

.navbar-btn {
  width: 116px;
  height: 52px;
  border: 1px solid #006a50;
  border-radius: 5px;
  color: #006a50;
  font-size: 18px;
  font-weight: 700;
}

.navbar-btn:hover {
  cursor: pointer;
  background-color: #006a50;
  color: #ffffff;
  border: none;
  transition: background-color 0.3s ease;
}

/* Banner Section Design */
.banner-container {
  width: 1280px;
  height: 560px;
  margin: auto;
  background-color: #c6e4d6;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  margin-bottom: 80px;
}

.banner-subtitle {
  color: #0e0e0e;
  font-size: 24px;
  font-weight: 500;
  font-family: "Fira Sans", serif;
  opacity: 50%;
}

.banner-title {
  color: #0e0e0e;
  font-size: 56px;
  font-weight: bold;
  font-family: "Fira Sans", serif;
}

.explore-btn {
  width: 270px;
  height: 65px;
  background-color: #006a50;
  border-radius: 5px;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "Fira Sans", serif;
}

.explore-btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #006a50;
  border: 1px solid #006a50;
  transition: background-color 0.3s ease;
}

/* Pillars Section Design */

.pillars-container {
  width: 1280px;
  height: auto;
  margin: auto;
  margin-bottom: 80px;
}

.pillars-title {
  font-size: 40px;
  font-weight: bold;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
}

.pillars-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.pillars-card {
  width: 302px;
  height: 244px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 24px;
}

.pillars-card-title {
  font-size: 20px;
  font-weight: bold;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
}

.pillars-card-description {
  font-size: 16px;
  font-weight: 400;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
}

/* The vision of future section design */

.the-vision-of-future-container {
  width: 1280px;
  height: auto;
  margin: auto;
  margin-bottom: 80px;
}

.the-vision-of-future-title {
  font-size: 40px;
  font-weight: bold;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  margin-bottom: 24px;
}

.the-vision-of-future-description {
  font-size: 16px;
  font-weight: 400;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  margin-bottom: 24px;
  opacity: 70%;
}

.the-vision-of-future-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.digital-transformation-card {
  width: 410.67px;
  height: 325px;
  background-color: #d5e1f5;
  border-radius: 10px;
  padding: 24px;
}

.green-energy-card {
  width: 410.67px;
  height: 325px;
  background-color: #c6e4d6;
  border-radius: 10px;
  padding: 24px;
}

.modern-infrastructure-card {
  width: 410.67px;
  height: 325px;
  background-color: #f7ebcf;
  border-radius: 10px;
  padding: 24px;
}

.the-vision-of-future-cards-title {
  font-size: 20px;
  font-weight: bold;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
}

.the-vision-of-future-cards-description {
  font-size: 16px;
  font-weight: 400;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
}

.digital-transformation-btn {
  width: 122px;
  height: 41px;
  background-color: #5490f5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-family: "Fira Sans", serif;
  border: none;
  border-radius: 10px;
}

.digital-transformation-btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #5490f5;
  border: 1px solid #5490f5;
  transition: background-color 0.3s ease;
}

.green-energy-btn {
  width: 122px;
  height: 41px;
  background-color: #09a15c;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-family: "Fira Sans", serif;
  border: none;
  border-radius: 10px;
}

.green-energy-btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #09a15c;
  border: 1px solid #09a15c;
  transition: background-color 0.3s ease;
}

.modern-infrastructure-btn {
  width: 122px;
  height: 41px;
  background-color: #ffc239;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-family: "Fira Sans", serif;
  border: none;
  border-radius: 10px;
}

.modern-infrastructure-btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #ffc239;
  border: 1px solid #ffc239;
  transition: background-color 0.3s ease;
}

/* Recent news section design */
.recent-news-container {
  width: 1280px;
  height: auto;
  margin: auto;
  margin-bottom: 80px;
}

.recent-news-title {
  font-size: 40px;
  font-weight: bold;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  margin-bottom: 24px;
}

.recent-news-description {
  font-size: 16px;
  font-weight: 400;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  margin-bottom: 24px;
  opacity: 70%;
}

.recent-news-card {
  background-color: #ffffff;
  width: 1280px;
  height: 402px;
  border-radius: 10px;
  padding: 48px;
  display: flex;
  align-items: start;
  gap: 32px;
  margin-bottom: 24px;
}

.satelite-img {
  width: 408px;
  height: 306px;
  border-radius: 24px;
}

.recent-news-card-title {
  font-size: 32px;
  font-weight: bold;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  opacity: 80%;
  margin: 0;
  padding-bottom: 20px;
}

.date-time {
  display: flex;
  gap: 10px;
  color: #0e0e0e;
  opacity: 70%;
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-size: 16px;
}

.recent-news-card-description {
  font-size: 16px;
  font-weight: 400;
  font-family: "Fira Sans", serif;
  color: #0e0e0e;
  opacity: 70%;
  margin: 0;
  padding-bottom: 32px;
}

.recent-news-card-btn {
  background-color: #006a50;
  color: #ffffff;
  width: 139px;
  height: 48px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  font-family: "Fira Sans", serif;
}

.recent-news-card-btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: #006a50;
  border: 1px solid #006a50;
  transition: background-color 0.3s ease;
}